@page "/"
@inject DockerService _dockerService
@inject IDbContextFactory<DataContext> _dbContextFactory
@inject NavigationManager _nav
@inject UpdateRegistry _updateRegistry
@inject IJSRuntime _js
@implements IDisposable

<PageTitle>Home - @Constants.APP_NAME</PageTitle>

<h1>Compose stacks</h1>

@if (_composeStacks is null)
{
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    @if (!_isDockerRunning)
    {
        <div><span class="h3 text-bg-danger">Docker is not running</span></div>
    } else
    {
        <button class="btn btn-primary" type="button" disabled="@(_isReloading || _isRestarting)" @onclick="ReloadData">
            @if (_isReloading)
            {
                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
            }
            else
            {
                <span>Recheck containers</span>
            }
        </button>
        <button class="btn btn-warning ms-2" type="button" disabled="@(_selectedAppIds.Count == 0 || _isEnqueuing)" @onclick="UpdateSelected">
            @if (_isEnqueuing)
            {
                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
            }
            else
            {
                <span>Update selected</span>
            }
        </button>
    }

    int i = 0;
    <div class="accordion" id="stacksAccordion">
        @foreach (var context in _composeStacks.OrderBy(x => x.StackName))
        {
            var stackId = $"stack_{i}";
            var appsWithNewerVersions = context.Apps.Where(x => x.IsSelectableForUpdate(_updateRegistry)).ToList();
            var hasProcessing = context.Apps.Any(x => _updateRegistry.IsProcessing(x.Id));
            var queuedUpdates = context.Apps.Count(x => _updateRegistry.IsQueued(x.Id));
            i++;
            <div @key=stackId class="accordion-item">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@stackId" aria-expanded="false" aria-controls="@stackId">
                        <b>@context.StackName</b>
                        @if (hasProcessing)
                        {
                            <span class="badge text-bg-primary ms-2">
                                <span class="spinner-border spinner-border-sm" role="status" aria-label="Update in progress" style="width: 0.75rem; height: 0.75rem; border-width: 0.1em;"></span>
                                Update in progress
                            </span>
                        }
                        @if (queuedUpdates != 0)
                        {
                            <span class="badge text-bg-secondary ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                    <path d="M8 3.5a.5.5 0 0 1 .5.5v3.25l2.5 1.5a.5.5 0 1 1-.5.866L8 8V4a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-1A7 7 0 1 1 8 1a7 7 0 0 1 0 14z"/>
                                </svg>
                                @queuedUpdates Updates queued
                            </span>
                        }
                        @if (appsWithNewerVersions.Count > 0)
                        {
                            <span class="badge text-bg-warning ms-2">@appsWithNewerVersions.Count updates</span>
                        } else
                        {
                            <span class="badge text-bg-success ms-2">All up-to-date</span>
                        }
                        @if(context.Apps.Any(x => x.GetGitHubRepo() is null && !x.IsSecondary))
                        {
                            <span class="badge text-bg-danger ms-2">Missing GitHub repo</span>
                        }
                        @if (context.Apps.Any(x => x.Version is null && !x.IsSecondary))
                        {
                            <span class="badge text-bg-danger ms-2">Missing version</span>
                        }
                        @if (context.Apps.Any(x => x.Regex is null && !x.IsSecondary))
                        {
                            <span class="badge text-bg-danger ms-2">Missing tag regex</span>
                        }
                        @if (context.Apps.Any(x => x.GitHubVersionRegex is null && !x.IsSecondary))
                        {
                            <span class="badge text-bg-danger ms-2">Missing GitHub regex</span>
                        }
                    </button>
                </h4>
                <div id=@stackId class="accordion-collapse collapse" data-bs-parent="#stacksAccordion">
                    <div class="accordion-body">
                        <button class="btn btn-primary" type="button" disabled="@_isRestarting" @onclick="() => RestartStack(context)">
                            @if (_isRestarting)
                            {
                                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                            }
                            else
                            {
                                <span>Restart</span>
                            }
                        </button>
                        <button class="btn btn-danger ms-2" type="button" disabled="@_isRestarting" @onclick="() => DeleteStack(context)" title="Delete stack" aria-label="Delete stack">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 5h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5H6a.5.5 0 0 1-.5-.5v-7z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 1 1 0-2h3.086a1 1 0 0 1 .707-.293h2.314a1 1 0 0 1 .707.293H14.5a1 1 0 0 1 1 1z"/>
                            </svg>
                        </button>
                        <table class="table-striped table-hover table-bordered table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" checked=@IsAllSelectedForStack(context) @onchange="(e) => ToggleSelectAllForStack(context, e.Value)" />
                                    </th>
                                    <th scope="col">
                                        App name
                                    </th>
                                    <th scope="col">
                                        Github Repo
                                    </th>
                                    <th scope="col">
                                        Version
                                    </th>
                                    <th scope="col">
                                        Final regex
                                    </th>
                                    <th scope="col">
                                        Newer versions
                                    </th>
                                    <th scope="col">
                                        Current SHA
                                    </th>
                                    <th scope="col">
                                        Target image
                                    </th>
                                    <th scope="col">
                                        Notes
                                    </th>
                                    <th scope="col">
                                        Uptime
                                    </th>
                                    <th scope="col">
                                        Last version check
                                    </th>
                                    <th scope="col">
                                        Controls
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var app in context.Apps.OrderBy(x => x.Name))
                                {
                                    var newestVersion = app.GetNewestAvailableVersion();
                                    var repo = app.GetGitHubRepo();
                                    var isUpdating = _updateRegistry.IsQueued(app.Id) || _updateRegistry.IsProcessing(app.Id);
                                    var isSelectable = app.IsSelectableForUpdate(_updateRegistry);
                                    <tr>
                                        <td>
                                            <input type="checkbox" checked=@_selectedAppIds.Contains(app.Id) disabled=@(!isSelectable) @onchange="(e) => ToggleSelection(app.Id, e.Value)" />
                                        </td>
                                        <td>
                                            @app.Name
                                            @if (_updateRegistry.IsProcessing(app.Id))
                                            {
                                                <span class="badge text-bg-primary ms-1">
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-label="Updating" style="width: 0.75rem; height: 0.75rem; border-width: 0.1em;"></span>
                                                    Updating
                                                </span>
                                            }
                                            else if (_updateRegistry.IsQueued(app.Id))
                                            {
                                                <span class="badge text-bg-secondary ms-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                                        <path d="M8 3.5a.5.5 0 0 1 .5.5v3.25l2.5 1.5a.5.5 0 1 1-.5.866L8 8V4a.5.5 0 0 1 .5-.5z"/>
                                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-1A7 7 0 1 1 8 1a7 7 0 0 1 0 14z"/>
                                                    </svg>
                                                    Queued
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            @if (repo is null)
                                            {
                                                <span class="badge text-bg-warning">Missing</span>
                                            }
                                            else
                                            {
                                                var repoCombination = repo.Item1 + "/" + repo.Item2;
                                                <a href="https://github.com/@repoCombination" target="_blank">@repoCombination</a>

                                                if (app.SecondaryGitHubRepos is not null)
                                                {
                                                    <div>Secondary:</div>
                                                    @foreach (var secondary in app.SecondaryGitHubRepos)
                                                    {
                                                        var secondaryRepoCombination = secondary.Item1 + "/" + secondary.Item2;
                                                        <a href="https://github.com/@secondaryRepoCombination" target="_blank">@secondaryRepoCombination</a>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @if (app.Version is null)
                                            {
                                                <span class="badge text-bg-warning">Missing</span>
                                            }
                                            else
                                            {
                                                <span class="badge text-bg-primary">@app.Version</span>
                                            }
                                        </td>
                                        <td>
                                            @if (app.Regex is null)
                                            {
                                                <span class="badge text-bg-warning">Missing tag regex</span>
                                            }
                                            else
                                            {
                                                <div>Tag: @app.Regex</div>
                                            }
                                            @if(app.GitHubVersionRegex is null)
                                            {
                                                <span class="badge text-bg-warning ms-1">Missing GitHub regex</span>
                                            } else
                                            {
                                                <div>GitHub: @app.GitHubVersionRegex</div>
                                            }
                                        </td>
                                        <td>
                                            @if(newestVersion is null)
                                            {
                                                    var ignoredVersions = app.NewerVersions.Where(x => x.Ignored).ToList();

                                                <span class="badge text-bg-success">Up to date</span>

                                                if(ignoredVersions.Count > 0)
                                                {
                                                    <span class="badge text-bg-light ms-1">@ignoredVersions.Count ignored versions</span>
                                                }
                                            }
                                            else
                                            {
                                                <span class='badge text-bg-warning'>@newestVersion.VersionNumber</span>

                                                if(newestVersion.Notified)
                                                {
                                                    <span class="badge text-bg-info ms-1">Notified</span>
                                                }
                                            }
                                        </td>
                                        <td>@app.CurrentSha</td>
                                        <td>@app.TargetImage</td>
                                        <td>
                                            @if(app.MultiContainerApp is not null)
                                            {
                                                <span class="badge text-bg-info">@app.MultiContainerApp.AppName</span>
                                            }
                                            @if(app.IsSecondary)
                                            {
                                                <span class="badge text-bg-success">DB</span>
                                            }
                                        </td>
                                        <td>@app.Uptime</td>
                                        <td>@(app.LastVersionCheck.Equals(DateTime.MinValue) ? "Never" : app.LastVersionCheck.ToReadableStringWithTime())</td>
                                        <td>
                                            <a href="/versions/@app.Id" class="btn btn-primary">Releases</a>
                                            <a href="/container/@app.Id" class="btn btn-primary">Edit</a>
                                            <button class="btn btn-danger ms-1" @onclick="() => DeleteContainer(app)" title="Delete container" aria-label="Delete container">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 5h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5H6a.5.5 0 0 1-.5-.5v-7z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 1 1 0-2h3.086a1 1 0 0 1 .707-.293h2.314a1 1 0 0 1 .707.293H14.5a1 1 0 0 1 1 1z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<ComposeStack>? _composeStacks;
    private bool _isRestarting;
    private bool _isReloading;
    private bool _isDockerRunning;
    private System.Timers.Timer? _pollTimer;
    private HashSet<int> _selectedAppIds = new();
    private bool _isEnqueuing;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LoadData();
        StartPolling();
    }

    private async Task LoadData()
    {
        if (!await _dockerService.IsAliveAsync())
        {
            _composeStacks = [];
            _isDockerRunning = false;
            StateHasChanged();
            return;
        }

        _isDockerRunning = true;

        using var db = _dbContextFactory.CreateDbContext();

        _composeStacks = await db.Stacks
            .Include(x => x.Apps)
            .ThenInclude(x => x.NewerVersions)
            .Include(x => x.Apps)
            .ThenInclude(x => x.MultiContainerApp)
            .ToListAsync();

        StateHasChanged();
    }

    private void StartPolling()
    {
        if (_pollTimer is not null)
            return;

        _pollTimer = new System.Timers.Timer(1000);
        _pollTimer.Elapsed += async (_, __) => await CheckForUpdates();
        _pollTimer.AutoReset = true;
        _pollTimer.Start();
    }

    private async Task CheckForUpdates()
    {
        await InvokeAsync(async () => await LoadData());
    }

    private async Task RestartStack(ComposeStack stack)
    {
        _isRestarting = true;
        StateHasChanged();
        await _dockerService.RunDockerComposeOnPath(stack, "restart");
        _isRestarting = false;
        StateHasChanged();
    }

    private void ToggleSelection(int appId, object? rawValue)
    {
        if (rawValue is not bool isChecked)
            return;

        if (isChecked)
            _selectedAppIds.Add(appId);
        else
            _selectedAppIds.Remove(appId);

        StateHasChanged();
    }

    private void ToggleSelectAllForStack(ComposeStack stack, object? rawValue)
    {
        if (rawValue is not bool isChecked)
            return;

        var selectableApps = stack.Apps.Where(a => a.IsSelectableForUpdate(_updateRegistry)).ToList();

        if (isChecked)
        {
            foreach (var app in selectableApps)
                _selectedAppIds.Add(app.Id);
        }
        else
        {
            foreach (var app in selectableApps)
                _selectedAppIds.Remove(app.Id);
        }

        StateHasChanged();
    }

    private bool IsAllSelectedForStack(ComposeStack stack)
    {
        var selectableApps = stack.Apps.Where(a => a.IsSelectableForUpdate(_updateRegistry)).ToList();

        if (!selectableApps.Any())
            return false;

        return selectableApps.All(a => _selectedAppIds.Contains(a.Id));
    }

    private async Task UpdateSelected()
    {
        if (_isEnqueuing || _composeStacks is null)
            return;

        _isEnqueuing = true;
        StateHasChanged();

        var selectedIds = _selectedAppIds.ToHashSet();

        var selectedApps = _composeStacks.SelectMany(s => s.Apps).Where(a => selectedIds.Contains(a.Id)).ToList();

        var tasks = new List<Task>();

        foreach (var app in selectedApps)
        {
            var target = app.GetNewestAvailableVersion();

            if (target is null)
                continue;

            tasks.Add(_updateRegistry.MarkForUpdate(app.Id, target.Id, target.VersionNumber));
        }

        try
        {
            await Task.WhenAll(tasks);
        }
        finally
        {
            foreach (var id in selectedIds)
                _selectedAppIds.Remove(id);

            _isEnqueuing = false;
            StateHasChanged();
        }
    }

    private async Task ReloadData()
    {
        _isReloading = true;
        StateHasChanged();

        var isReset = await _dockerService.ResetComposeStacks();
        _isReloading = false;

        if (isReset)
        {
            await LoadData();
        }
    }

    private async Task DeleteContainer(Container app)
    {
        if (!await JSConfirm($"Delete '{app.Name}' from database? (Will reappear on next container reset)"))
            return;

        await _dockerService.DeleteContainerRecord(app);
    }

    private async Task DeleteStack(ComposeStack stack)
    {
        if (!await JSConfirm($"Delete stack '{stack.StackName}' and its containers from database? (Will reappear on next container reset)"))
            return;

        await _dockerService.DeleteStackRecord(stack);
    }

    private async Task<bool> JSConfirm(string message)
    {
        return await _js.InvokeAsync<bool>("confirm", message);
    }

    public void Dispose()
    {
        if (_pollTimer is not null)
        {
            _pollTimer.Stop();
            _pollTimer.Dispose();
            _pollTimer = null;
        }
    }
}