@page "/versions/{ContainerId:int}"
@inject IDbContextFactory<DataContext> _dbContextFactory
@inject VersionService _versionService
@inject UpdateService _updateService

<PageTitle>Versions - @Constants.APP_NAME</PageTitle>

@if(_app is null)
{
    <div class="spinner-grow" role="status">
    </div>
}
else
{
    <PageTitle>@_app.Name versions - @Constants.APP_NAME</PageTitle>
    <h4>@_app.Name</h4>
    @if(_app.MultiContainerApp is not null)
    {
        <b>All affected apps:</b> @string.Join(", ", _app.MultiContainerApp.Containers.Select(x => x.Name))
    }
    <p>
        Current Version: @(_app.Version ?? "Missing")
    </p>
    <p>
        Newer Versions:
    </p>
    if (!_app.NewerVersions.Any())
    {
        <div class="alert alert-success" role="alert">
            This app is up to date!
        </div>
    }
    else
    {
        <ul>
            @foreach(var version in _app.NewerVersions)
            {
                <li class='@(version.Ignored ? "text-body-tertiary" : string.Empty)'>
                    <div>
                        <b><u>@version.Name</u></b>
                        <b>(@version.VersionNumber)</b>
                        @if(version.Prerelease)
                        {
                            <b class="ms-2">[PRERELEASE]</b>
                        }
                        @if(version.Breaking)
                        {
                            <b class="ms-2">[BREAKING]</b>
                        }
                        @if(version.Ignored)
                        {
                            <span class="badge bg-secondary ms-2">Ignored</span>
                        } else {
                            <button class="btn btn-outline-primary" @onclick="async () => await ToggleIgnoreVersion(version)">Ignore this version</button>
                        }
                        @if(_selectedVersion?.Id == version.Id)
                        {
                            <span class="badge bg-success ms-2">Selected for Update</span>
                        }
                        else
                        {
                            <button class="btn btn-outline-success ms-2" @onclick="async () => await SetTargetVersion(version)">Select for Update</button>
                        }
                    </div>
                    <div>@(version.Body.ToMarkupString())</div>
                </li>
            }
        </ul>

        @if (_updatePlan is not null)
        {
            <div class="alert alert-info" role="alert">
                An update is available for this app!
            </div>

            <ul>
                @foreach(var step in _updatePlan)
                {
                    <li>
                        @step
                    </li>
                }
            </ul>

            <button class="btn btn-primary" @onclick="ExecuteUpdate" disabled="@_isUpdating">
                @if(_isUpdating)
                {
                    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                } else
                {
                    <span>Update Now</span>
                }
            </button>

            @if (_isUpdating)
            {
                <div class="mb-4 mt-4">
                    <h5>Update Progress:</h5>
                    <Terminal @ref=_terminal/>
                </div>
            }
        }
    }
}


@code {
    [Parameter]
    public required int ContainerId { get; set; }

    private Container? _app;
    private List<string>? _updatePlan;
    private bool _isUpdating;
    private Terminal _terminal = default!;
    private AppVersion? _selectedVersion;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LoadData();
    }

    public async Task LoadData()
    {
        using var db = _dbContextFactory.CreateDbContext();

        var app = await db.Containers.Include(x => x.MultiContainerApp).ThenInclude(x => x!.Containers).Include(x => x.NewerVersions).FirstAsync(a => a.Id == ContainerId);

        app.NewerVersions.Sort((x, y) => VersionHelper.NewerComparison(x.VersionNumber, y.VersionNumber));

        if (app.NewerVersions.Any())
        {
            if (_updateService.IsUpdateAvailable(app))
            {
                _selectedVersion ??= app.NewerVersions.First();
                _updatePlan = await _updateService.Update(app, true, targetVersion: _selectedVersion);
            }
        }

        app.NewerVersions.Sort((x, y) => VersionHelper.NewerComparison(x.VersionNumber, y.VersionNumber));

        _app = app;
        StateHasChanged();
    }

    public async Task SetTargetVersion(AppVersion version)
    {
        _selectedVersion = version;
        
        if (_app is not null && _updateService.IsUpdateAvailable(_app))
        {
            _updatePlan = await _updateService.Update(_app, true, targetVersion: _selectedVersion);
            StateHasChanged();
        }
    }

    public async Task ExecuteUpdate()
    {
        ArgumentNullException.ThrowIfNull(_app);

        _isUpdating = true;
        StateHasChanged();

        await _updateService.Update(_app, false, async (output) =>
        {
            await _terminal.NewLine(output);
        }, _selectedVersion);

        await Task.Delay(1000);
        _isUpdating = false;
        _selectedVersion = null;
        await LoadData();
    }

    public async Task ToggleIgnoreVersion(AppVersion version)
    {
        using var db = _dbContextFactory.CreateDbContext();

        version.Ignored = !version.Ignored;
        await db.AppVersions.Where(x => x.Id == version.Id).ExecuteUpdateAsync(x => x.SetProperty(setter => setter.Ignored, version.Ignored));
    }
}
