@page "/versions/{ContainerId:int}"
@inject IDbContextFactory<DataContext> _dbContextFactory
@inject VersionService _versionService
@inject UpdateService _updateService

<h3>Versions</h3>

@if(_app is null)
{
    <div class="spinner-grow" role="status">
    </div>
}
else
{
    <h4>@_app.Name</h4>
    @if(_app.MultiContainerApp is not null)
    {
        <b>All affected apps:</b> @string.Join(", ", _app.MultiContainerApp.Containers.Select(x => x.Name))
    }
    <p>
        Current Version: @(_app.Version ?? "Missing")
    </p>
    <p>
        Newer Versions:
    </p>
    @if(_rateLimitReset.HasValue)
    {
        <div class="alert alert-warning" role="alert">
            Rate limit exceeded while fetching newer versions. The rate limit should reset at @_rateLimitReset.Value.ToLocalTime().ToString("f").
        </div>
    }
    else if (!_app.NewerVersions.Any())
    {
        <div class="alert alert-success" role="alert">
            This app is up to date!
        </div>
    }
    else
    {
        <ul>
            @foreach(var version in _app.NewerVersions)
            {
                <li>
                    <div>
                        <b><u>@version.Name</u></b>
                        <b>(@version.VersionNumber)</b>
                        @if(version.Prerelease)
                        {
                            <b class="ms-2">[PRERELEASE]</b>
                        }
                        @if(version.Breaking)
                        {
                            <b class="ms-2">[BREAKING]</b>
                        }
                    </div>
                    <div>@(version.Body.ToMarkupString())</div>
                </li>
            }
        </ul>

        @if (_updatePlan is not null)
        {
            <div class="alert alert-info" role="alert">
                An update is available for this app!
            </div>

            <ul>
                @foreach(var step in _updatePlan)
                {
                    <li>
                        @step
                    </li>
                }
            </ul>

            <button class="btn btn-primary" @onclick="ExecuteUpdate" disabled="@_isUpdating">
                @if(_isUpdating)
                {
                    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                } else
                {
                    <span>Update Now</span>
                }
            </button>
        }
    }
}


@code {
    [Parameter]
    public required int ContainerId { get; set; }

    private Container? _app;
    private List<string>? _updatePlan;
    private DateTimeOffset? _rateLimitReset;
    private bool _isUpdating;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LoadData();
    }

    public async Task LoadData()
    {
        using var db = _dbContextFactory.CreateDbContext();

        var app = await db.Containers.Include(x => x.MultiContainerApp).Include(x => x.NewerVersions).FirstAsync(a => a.Id == ContainerId);

        if (app.NewerVersions.Any())
        {
            if (_updateService.IsUpdateAvailable(app))
                _updatePlan = await _updateService.Update(app, true);
        }

        _app = app;
        StateHasChanged();
    }

    public async Task ExecuteUpdate()
    {
        ArgumentNullException.ThrowIfNull(_app);

        _isUpdating = true;
        StateHasChanged();
        await _updateService.Update(_app, false);
        await Task.Delay(1000);
        _isUpdating = false;
        await LoadData();
    }
}
